@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
u,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px;
  align-items: center;
}
nav > a:hover {
  text-decoration: underline;
}
.navIcon {
  display: flex;
  align-items: center;
  gap: 20px;
}
#menu {
  position: relative;
  width: 20px;
  height: 20px;
}
#menu:hover::after {
  opacity: 1;
}
#menu::after {
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  left: -6px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.2);
}
#menu::before {
  content: attr(aria-label); /*aria-label 값 사용*/
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 10px;
  font-size: 12px;
  white-space: nowrap; /*텍스트 줄바꿈 방지*/
  opacity: 0;
  transition: all 0.4s;
}
#menu:hover::before {
  opacity: 1;
}
#menu a svg {
  position: relative;
  width: 100%;
  opacity: 0.5;
}
/*로그인*/
#login {
  width: 70px;
  height: 30px;
  color: white;
  background-color: #4484f3;
  border: 0;
  border-radius: 3px;
}
.main-wrap {
  margin-top: 200px;
  text-align: center;
}
/*검색바*/
.search_bar {
  width: 70%;

  margin: 30px auto;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 3px 25px;
  display: flex;
}
.search_bar input {
  width: 60%;
  padding: 5px;
  border: 0;
  outline: none;
  splay: flex;
}
.search_Icon {
  width: 14%;
  display: flex;
  gap: 5px;
}
/*반응형*/
@media screen and (max-width: 390px) {
  .search_bar {
    padding: 5px 15px;
  }
}
